<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as2.ftcdn.net/v2/jpg/00/05/23/73/1000_F_5237340_XX38VQV0Of1o3wPejv66PWDbWdZQP1km.jpg);">
  <div class="container">
    <h1>SUPER MOVIES DATA BASE</h1>
  </div>
</div>
<div class="container" id="movie-list">
<div><div class="item-1">My Lists</div> <div class="item-2"><%= link_to "Add a movie", "#", class: "btn btn-flat"%></div> </div>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t4.ftcdn.net/jpg/01/18/56/35/240_F_118563503_5zzJSYWa4hBRgDXmlpUVZUMSQhLra9aV.jpg)">
      Classic Movies
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t4.ftcdn.net/jpg/01/18/56/35/240_F_118563503_5zzJSYWa4hBRgDXmlpUVZUMSQhLra9aV.jpg)">
      Action Movies
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t4.ftcdn.net/jpg/01/18/56/35/240_F_118563503_5zzJSYWa4hBRgDXmlpUVZUMSQhLra9aV.jpg)">
      Comedies
    </div>
  </div>
</div>
